.profile-page-content {
    padding-inline: 9rem;
}

.site-description-item-profile {
    padding-top: 64px;
}

.site-description-item-profile-wrapper {
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
}

p.site-description-item-profile-p {
    display: block;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5715;
}

.site-description-item-profile-p-title {
    display: block;
    margin-inline-end: 8px;
    color: rgba(0, 0, 0, 0.85);
}

.site-description-item-profile-p-label {
    display: inline-block;
    margin-inline-end: 8px;
    color: rgba(0, 0, 0, 0.85);
}

.site-description-item-profile-row {
    margin-top: 1rem;
}

.site-description-item-profile-row Col {
    display: flex;
    align-items: center;
}

Drawer {
    padding-top: 64px;
}